<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sudoku Solver</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>

<body>
 <form action="/upload" method="post" enctype="multipart/form-data" >
      <span class="btn btn-default btn-file">
        Browse <input type="file" name="image">
      </span>

    <input type="submit" value="Upload your image" class="btn btn-primary">
  </form>

  <form action="/example" method="get" enctype="multipart/form-data">
      <input type="submit" value="See Example" class="btn btn-primary">
  </form>
</body>
</html>
